.grid-item {
  width: 25%;
  height: auto;
  float: left;
  display: inline;
  padding: 2px;
  line-height: 0px;
}

.container {
  width: 100%;
}

.modal {
  top: 0;
  bottom: 0;  
  left: 0;
  right: 0;
  width: 100%;
}

.grid-item img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}